Which email format RFCs you are validating against should be documented

[RFC 2822](https://www.ietf.org/rfc/rfc2822.txt) documents that this format is valid:

     Mark Stosberg <mark@stosberg.com>

However, this module fails to validate it.  Perhaps this module is only for RFC 822 format addresses. RFC 2822 is also obsoleted by RFC 5322.  The Wikipedia page on emails links to the various related RFCs:  http://en.wikipedia.org/wiki/Email_address

Actually the intent was to write a brand new parser, and to simply start with a clone of Samuel.  However, time inbetween has been limited.  The understanding is that the purpose of the test cases is to help suss out, given that no parser is likely to reach perfection with the work level actually available, which parser actually is best, to help centralize improvement effort.

I'm also actually going to move away from regex, due to the extremely limited pool of talent who are available to work on regex edge cases.

The parser is for 5322 addresses.  I will update the readme.


Rough scratch now present.  Thank you for holding me to the fire, @markstos .  Please let me know (or share a PR) if you feel that further improvements are warranted.
